$breakpoint-tablet: 1024px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
  .navbar__burger {
    display: none;
    @media screen and (max-width: $breakpoint-tablet) {
      display: block;
    }
  }
  .header__navbar {
    font-weight: 500;
    display: flex;
    align-self: center;
    gap: 1.2em;
    z-index: 2;
    .navbar__burger_close {
      cursor: pointer;
      display: none;
      &:hover {
        color: var(--tertiary-text-color);
      }
      @media screen and (max-width: $breakpoint-tablet) {
        display: block;
      }
    }
    .navbar__item {
      padding: 0.7em 1.1em;
      border-radius: 1.1rem;
      &:hover {
        background: var(--secondary-color);
        box-shadow: inset 5px 5px 5px #d7d7d7, inset -5px -5px 5px #f7f7f7;
      }
    }
    .navbar__item__active {
      background: var(--secondary-color);
      box-shadow: inset 5px 5px 5px #d7d7d7, inset -5px -5px 5px #f7f7f7;
    }
    @media screen and (max-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: var(--tertiary-color);
      transition: 1s;
      transform: translateY(-100vh);
    }
  }
  .navbar__responsive {
    transform: none;
  }
}
