$breakpoint-tablet: 500px;

.detail {
  padding: 1rem;
  display: flex;
  align-items: center;
  .detail__image {
    opacity: 0;
    animation: cardAnimate 2s forwards;
  }
  .detail__info {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: #f2bf5e;
    color: var(--primary-text-color);
    height: 35vh;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    opacity: 0;
    animation: textAnimate 1.5s forwards 1s;

    .detail__info_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem;
      @media screen and (max-width: $breakpoint-tablet) {
        padding: 1rem;
        font-size: 0.9rem;
        justify-content: start;
      }
      .text__title {
        font-weight: 600;
        color: var(--tertiary-text-color);
      }
    }
    .detail__info_link {
      height: 100%;
      border-left: 0.5px solid var(--secondary-color);
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 0.8rem;
      &:hover {
        color: var(--tertiary-text-color);
      }
    }
    .text__arrow {
      color: var(--secondary-text-color);
      align-self: flex-end;
      margin: 0 0 0.4rem 0.8rem;
      cursor: pointer;
    }
  }
}
@keyframes cardAnimate {
  0% {
    left: -70%;
    opacity: 0;
  }

  100% {
    opacity: 0.4;
    left: 0;
  }
}
@keyframes textAnimate {
  0% {
    right: 0;
    opacity: 0;
  }

  100% {
    opacity: 1;
    right: 50%;
  }
}
